<div class="container">
  <%= render 'shared/navbar' %>
  <% @bookings.each do |booking| %>
    <div class="box-card">
      <div class="image_holder" style="background-image: url('<%= cl_image_path booking.event.box.photos.first.key if booking.event.box.photos.attached? %>')">
      </div>
      <div class="content">
        <h2><%= link_to booking.event.box.name, box_path(booking.event.box.id) %></h2>
        <p class="line-clamp2"><%= booking.event.box.description %></p>
        <div class="d-flex justify-content-between">
          <div class="event-info">
            <h3><%= booking.event.name %></h3>
            <p class="date"><%= booking.event.start_date.strftime("%A %e %B %Y") %></p>
            <p class="date"><%= booking.event.start_date.strftime("%l:%M %p") %></p>
          </div>
          <div class="actions">
            <% unless booking.tickets.empty? %>
            <p class="mb-1"><%= link_to "View Tickets", booking_ticket_path(booking.id, booking.tickets.first.id) %></p>
            <% end %>
            <p class="mb-1"><%= link_to "Add a review", new_booking_review_path(booking.id) %></p>
            <p class="mb-1"><%= link_to "Cancel", booking_path(booking.id), method: :delete %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
