<div class="container">
<%= render '/shared/navbar' %>
<br>
<div class="topbar">
<div class="search">
<%= form_tag boxes_path, method: :get do %>
<%= text_field_tag :query, params[:query], class: "form-path rounded-input", placeholder: "Find a box" %>
<%= submit_tag "",  class: "btn btn-primary search-submit" %>
<i class="fas fa-search"></i>
<% end %>
</div>
<div class="filters d-flex">
<%= link_to "clear", boxes_path, id: "clear" if params[:query].present? || params[:filter].present? %>
<% if params[:filter] == "under5" %>
<a href="/boxes?filter=under5" class="filter" id="filled">Under £5k</a>
<% else %>
<a href="/boxes?filter=under5" class="filter">Under £5k</a>
<% end %>
<% if params[:filter] == "5to10" %>
<a href="/boxes?filter=5to10" class="filter" id="filled">£5k - £10k</a>
<% else %>
<a href="/boxes?filter=5to10" class="filter">£5k - £10k</a>
<% end %>
<% if params[:filter] == "10to20" %>
<a href="/boxes?filter=10to20" class="filter" id="filled">£10k - £20k</a>
<% else %>
<a href="/boxes?filter=10to20" class="filter">£10k - £20k</a>
<% end %>
<% if params[:filter] == "over20" %>
<a href="/boxes?filter=over20" class="filter" id="filled">Over £20k</a>
<% else %>
<a href="/boxes?filter=over20" class="filter">Over £20k</a>
<% end %>
</div>
</div>
<% @boxes.each do |box| %>
<div class="box-card">
<div class="image_holder" style="background-image: url('<%= cl_image_path box.photos.first.key if box.photos.attached? %>')">
</div>
<div class="content">
<div class="title_desc">
<h2><%= link_to box.name, box_path(box.id) %></h2>
<p class="line-clamp"><%= box.description %></p>
</div>
<div class="details">
<div class="info">
<p>Cricket</p>
<i class="fas fa-circle"></i>
<p><%= box.seats %> seats</p>
<i class="fas fa-circle"></i>
<p><%= box.venue %></p>
</div>
<div class="rating_price">
<div class="rating">
<i class="fas fa-star"></i>
<p><%= box.rating %>.7</p>
</div>
<p class="price">£<%= number_with_delimiter(box.price) %></p>
</div>
</div>
<%# <%= link_to "edit", edit_box_path(box.id) %>
</div>
</div>
<% end %>
<br>
<br>
<% if current_user.id == User.find_by(email: "tomwhittle@hey.com").id %>
<%= link_to "new box", new_box_path %>
<%= link_to "sign out", destroy_user_session_path, method: :delete %> 
<% end %>
</div>
