<h1>Boxes</h1>
<br>
<%= link_to "new box", new_box_path %>
<br>
<br>
<% @boxes.each do |box| %>
<%= link_to box.name, box_path(box.id) %>
<br>
<%= box.description %>
<br>
<%= box.venue %>
<br>
<%= box.seats %>
<br>
<%= box.price %>
<br>
<%= link_to "edit", edit_box_path(box.id) %>
<br>
<br>
<br>
<% end %>
