<div class="container">
<%= render '/shared/navbar' %>
<br>
<%= form_tag boxes_path, method: :get do %>
<%= text_field_tag :query, params[:query], class: "form-path", placeholder: "Find a box" %>
<%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<br>
<br>
<% @boxes.each do |box| %>
<div class="box-card">
<h2><%= link_to box.name, box_path(box.id) %></h2>
<br>
<%= box.description %>
<br>
<%= box.venue %>
<br>
<%= box.seats %>
<br>
£<%= box.price %>
<br>
<%= link_to "edit", edit_box_path(box.id) %>
<br>
<br>
<br>
</div>
<% end %>
<br><br><br><br><br>
<%= link_to "new box", new_box_path %>
<%= link_to "sign out", destroy_user_session_path, method: :delete %>
</div>
