<h1><%= @box.name %></h1>
<%= @box.description %>
<br>
£<%= @box.price %>

<br>
<br>

<%= link_to "create event", new_box_event_path(box_id: @box.id) %>

<br>
<br>

<% @box.events.each do |event| %>
<%= event.name %>
<br>
<%= event.start_date %> 
<br>
<%= link_to "book", new_box_event_booking_path(@box.id, event.id) %>
<br>
<br>
<% end %>

<h1>reviews</h1>
<% @box.events.each do |event| %>
<% event.bookings.each do |booking| %>
<% booking.reviews.each do |review| %>
<%= review.rating %>
<br>
<%= review.description %>
<br>
<%= review.booking.user.email %>
<br>
<br>
<% end %>
<% end %>
<% end %>